body {
  font-family: 'Helvetica', sans-serif;
}

._3y1Jrcu6WX34ioNefbGYUU {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.n95BdkyswwnzU-1vAEu0m {
  margin-top: 20px;
  margin-bottom: 50px;
}

._3ACebbxPlFsscNcqRetLCc {
  margin-bottom: 20px;
}

._1DybBv93r2Z_nwEGuSQ-G2 {
  margin-top: 100px;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
}

._1DybBv93r2Z_nwEGuSQ-G2:before {
  content: '';
  display: table;
}

._1DybBv93r2Z_nwEGuSQ-G2:after {
  content: '';
  display: table;
  clear: both;
}

.zi_OP_tPXdwh-sqitpKSl {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

._1OSLbVYv_Z5JRQjgkkWMvx {
  text-align: center;
  color: red;
}

.FtYvMpjMIfSsyl35IPF0q {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

._1yENvwhAt1Uq72oMo3qGlV {
  font-size: 15;
  font-weight: bold;
}

._2rzGEabhr6HfyT7jgBfNZJ {
  margin-bottom: 200px;
}

._29plTO48g98QwUN3b0wsWu {
  margin-bottom: 50px;
}

._29plTO48g98QwUN3b0wsWu:before {
  content: '';
  display: table;
}

._29plTO48g98QwUN3b0wsWu:after {
  content: '';
  display: table;
  clear: both;
}

._2otMRY8GnbFVEdX84dMg_w {
  width: calc(99.9% * 1/3 - 20px);
}

._2otMRY8GnbFVEdX84dMg_w:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

._2otMRY8GnbFVEdX84dMg_w:last-child {
  margin-right: 0;
}

._2otMRY8GnbFVEdX84dMg_w:nth-child(3n) {
  margin-right: 0;
  float: right;
}

._2otMRY8GnbFVEdX84dMg_w:nth-child(3n + 1) {
  clear: both;
}
.tVlmrK_gMnJpUAK3A9IRk:before {
  content: '';
  display: table;
}

.tVlmrK_gMnJpUAK3A9IRk:after {
  content: '';
  display: table;
  clear: both;
}

._3fDleOmm7eaIxMws_Guzen {
  width: calc(99.9% * 1/6 - 25px);
}

._3fDleOmm7eaIxMws_Guzen:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

._3fDleOmm7eaIxMws_Guzen:last-child {
  margin-right: 0;
}

._3fDleOmm7eaIxMws_Guzen:nth-child(6n) {
  margin-right: 0;
  float: right;
}

._3fDleOmm7eaIxMws_Guzen:nth-child(6n + 1) {
  clear: both;
}

._2vzYxzzGXueUu6k1SlriKQ {
  width: calc(99.9% * 4/6 - 10px);
}

._2vzYxzzGXueUu6k1SlriKQ:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

._2vzYxzzGXueUu6k1SlriKQ:last-child {
  margin-right: 0;
}

._2vzYxzzGXueUu6k1SlriKQ:nth-child(6n) {
  margin-right: 0;
  float: right;
}

._2vzYxzzGXueUu6k1SlriKQ:nth-child(6n + 1) {
  clear: both;
}

._1BqKcLh7CEdK2w94l2q1PX {
  width: calc(99.9% * 1/6 - 25px);
  position: relative;
  font-weight: bold;
}

._1BqKcLh7CEdK2w94l2q1PX:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

._1BqKcLh7CEdK2w94l2q1PX:last-child {
  margin-right: 0;
}

._1BqKcLh7CEdK2w94l2q1PX:nth-child(6n) {
  margin-right: 0;
  float: right;
}

._1BqKcLh7CEdK2w94l2q1PX:nth-child(6n + 1) {
  clear: both;
}

._1BqKcLh7CEdK2w94l2q1PX > * {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translate(0, -50%);
}
._1ncbacbp3_P3uh93sjMRFO {
  background-color: gray !important;
}

._3hF77oomEUso8W5tU8VYgR {
  background-color: blue;
}

._22wUOi_PfEzWjyO9M_V6h1 {
  font-size: 18px;
}

._34WsHXnqNzAh6io8Kky4Yj:before {
  content: '';
  display: table;
}

._34WsHXnqNzAh6io8Kky4Yj:after {
  content: '';
  display: table;
  clear: both;
}

._1gwgERng6KlY87D6Bq6euY {
  width: calc(99.9% * 1/4 - 22.5px);
  padding-top: 8px;
}

._1gwgERng6KlY87D6Bq6euY:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

._1gwgERng6KlY87D6Bq6euY:last-child {
  margin-right: 0;
}

._1gwgERng6KlY87D6Bq6euY:nth-child(4n) {
  margin-right: 0;
  float: right;
}

._1gwgERng6KlY87D6Bq6euY:nth-child(4n + 1) {
  clear: both;
}

._1D5joME7F57VV97fKrl-YT {
  width: calc(99.9% * 3/4 - 7.5px);
}

._1D5joME7F57VV97fKrl-YT:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

._1D5joME7F57VV97fKrl-YT:last-child {
  margin-right: 0;
}

._1D5joME7F57VV97fKrl-YT:nth-child(4n) {
  margin-right: 0;
  float: right;
}

._1D5joME7F57VV97fKrl-YT:nth-child(4n + 1) {
  clear: both;
}

.aFyWhdGAmzb1JyO2IN1fw {
  margin-top: 25px;
  margin-bottom: 25px;
}

.aFyWhdGAmzb1JyO2IN1fw:before {
  content: '';
  display: table;
}

.aFyWhdGAmzb1JyO2IN1fw:after {
  content: '';
  display: table;
  clear: both;
}

._1FpBgcq11Z7fhwxzqoWfA9 {
  width: calc(99.9% * 1/2 - 15px);
  position: relative;
  width: 100px;
}

._1FpBgcq11Z7fhwxzqoWfA9:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

._1FpBgcq11Z7fhwxzqoWfA9:last-child {
  margin-right: 0;
}

._1FpBgcq11Z7fhwxzqoWfA9:nth-child(2n) {
  margin-right: 0;
  float: right;
}

._1FpBgcq11Z7fhwxzqoWfA9:nth-child(2n + 1) {
  clear: both;
}

._1FpBgcq11Z7fhwxzqoWfA9 > * {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translate(0, -50%);
}

._157CLfw7Hf8Zvr9IB3HbGy {
  width: calc(99.9% * 1/2 - 15px);
}

._157CLfw7Hf8Zvr9IB3HbGy:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

._157CLfw7Hf8Zvr9IB3HbGy:last-child {
  margin-right: 0;
}

._157CLfw7Hf8Zvr9IB3HbGy:nth-child(2n) {
  margin-right: 0;
  float: right;
}

._157CLfw7Hf8Zvr9IB3HbGy:nth-child(2n + 1) {
  clear: both;
}

.Bf4eWTkc-rRjfp2TfYTuz {
  opacity: 0.5;
  font-weight: bold;
}
._8fpWkYAONyim9zxsoe5Cd {
  text-align: center;
}

.AM01Ce06fntFB4yj9XLux {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
}

/* Spinner Wave */
._2vPB3w50ElQ2YsZckK7B1O {
  border-radius: 50%;
  position: relative;
  opacity: 1;
}

._2vPB3w50ElQ2YsZckK7B1O:before, ._2vPB3w50ElQ2YsZckK7B1O:after {
  content: '';
  border: 1px #000 solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}

._2vPB3w50ElQ2YsZckK7B1O:before {
  transform: scale(1, 1);
  opacity: 1;
  animation: _3Bwn8jIBmhzax9o-YR_tte 0.6s infinite linear;
}

._2vPB3w50ElQ2YsZckK7B1O:after {
  transform: scale(0, 0);
  opacity: 0;
  animation: _3-wRnrPNH9WiFxSID5z6hz 0.6s infinite linear;
}
@keyframes _3-wRnrPNH9WiFxSID5z6hz {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes _3Bwn8jIBmhzax9o-YR_tte {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

._3LVjRQT1LLnikDiFJNBG_G {
}
li {
  font-family: monospace;
  font-size: 14px;
  margin-bottom: 10px;
}

.LEMHDFsfgyXlfFNSBfMEf {
  margin-bottom: 50px;
  margin-top: 10px;
}

._3ZmWEEzevVRe6E9cJN118T {
  color: black;
  margin-bottom: 10px;
}

._3UHggrbOXsiGAUrcI6Daxl {
  text-align: center;
  opacity: 0.6;
  width: 100%;
  float: right;
  margin-bottom: 25px;
}

._3jIu6IWX5qtx7PaeuIUsI9 {
  font-family: monospace;
  font-size: 13px;
  background-color: rgba(0, 0, 0, .1);
}
._1aYKef53W4H4_iKWPiY1YL {
  color: gray;
}

._2rHLsaCSpVVkCtHyz-j5GS {
  color: red;
}

._1oDyZDxjyxmrJpUdUZi8Om {
  color: blue;
}

.P3wEp6oXdBG8dL4Ro11bf {
  color: gray;
}

._1S_4OkOEk3WN70tZdi23Wd {
  color: orange;
}

._2ZN6_AvlausERAO-QNFe2Y {
  height: 300px;
  overflow-y: scroll;
}
